@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #f26e22;
  --sub-color: #ffc7a7;
  --text-color: #000000;
  --text-sub-color: #767676;
  --placehoder-color: #dbdbdb;

  font-size: 62.5%;
  font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
